<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM - Gerenciar Produtos</title>
    <link rel="stylesheet" href="/CSS/produtos-adm.css"> 
</head>

 <header style="width: 100%;">
        <button id="btnSairConta">Sair da Conta</button>
    </header>
<body>

    <h2>Cadastro de Novo Produto</h2> <form id="formCadastroProduto">
        <label for="nome">Nome do Produto:</label>
        <input type="text" id="nome" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" rows="3"></textarea>

        <label for="valor">Valor (R$):</label>
        <input type="number" id="valor" step="0.01" required>

        <label for="estoque">Estoque Inicial:</label>
        <input type="number" id="quantidade" required>

        <label for="imagem_url">URL da Imagem:</label>
        <input type="url" id="imagem_url" placeholder="Ex: http://imagem.com/produto.jpg">

        <button type="submit">Cadastrar Produto</button>
        <p id="mensagemStatus"></p>

        <p>
            <a href="/produtos">Ver produtos</a>
        </p>
    </form>

    <div id="listaProdutosAdm">
        </div>
    
    <script src="/JS/admin-produtos.js"></script> </body>
    <script src="/JS/logout-geral.js"></script>
</html>